* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("/maldini.jpg"); /* tu imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  padding-left: 8%;
}

/* CONTENIDO */
.hero-content {
  color: white;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: 800;
}

.hero-content p {
  margin-top: 1rem;
  font-size: 1.2rem;
  opacity: 0.9;
}

/* COLORES DEL TITULO */
.white {
  color: white;
}

.yellow {
  color: #f4b400;
}