/* CONTENEDOR PINTEREST */
.pinterest-container {
  column-count: 5;      /* llena más la pantalla */
  column-gap: 12px;
  padding: 18px;
}

/* RESPONSIVE */
@media (max-width: 1200px){
  .pinterest-container { column-count: 4; }
}

@media (max-width: 900px){
  .pinterest-container { column-count: 3; }
}

@media (max-width: 600px){
  .pinterest-container { column-count: 2; }
}


/* CARD */
.pin-card {
  margin-bottom: 12px;
  break-inside: avoid;

  border-radius: 14px;
  overflow: hidden;

  cursor: pointer;

  transition: transform .2s ease,
              box-shadow .2s ease;
}


/* IMAGEN — LA CLAVE */
.pin-card img {
  width: 100%;
  display: block;
  border-radius: 14px;
}


/* HOVER estilo pro */
.pin-card:hover {
  transform: scale(1.02);
  box-shadow:
    0 6px 18px rgba(0,0,0,.45);
}
