.suc-container{
  padding: 40px;
  background: #050b1f;
  min-height: 100vh;
}

.suc-titulo{
  text-align: center;
  color: white;
  margin-bottom: 40px;
  font-size: 32px;
}

/* GRID */
.suc-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  gap: 25px;
}

/* CARD */
.suc-card{
  background: #0b1430;
  border-radius: 18px;
  overflow: hidden;

  transition: .3s;
  cursor: pointer;
}

.suc-card:hover{
  transform: translateY(-8px);
  box-shadow:
    0 0 18px rgba(80,130,255,.7),
    0 10px 30px rgba(0,0,0,.6);
}

/* IMG */
.suc-card img{
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* INFO */
.suc-info{
  padding: 18px;
  color: white;
}

.suc-info h2{
  margin-bottom: 6px;
}

.suc-info p{
  opacity: .7;
  margin-bottom: 12px;
}

/* BOTON */
.suc-info a{
  display: inline-block;
  padding: 8px 14px;
  background: #1e3cff;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-weight: bold;

  transition: .2s;
}

.suc-info a:hover{
  background: #3f5cff;
}
